@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");

:root {
  --primary-padding: 0 40px;
  --gfs: 1920;
  --dark-gray-color: #8b8b8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "DM Sans", sans-serif;
}

*::selection {
  color: white;
  background-color: #a59f98;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #070509;
}

/* removing scrollbar */

::-webkit-scrollbar {
  display: none;
}

/* scroll animation */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1.5s;
}

.show {
  filter: blur(0);
  opacity: 1;
}

/* navbar  */

nav {
  width: 100%;
  height: 65px;
  position: fixed;
  margin-top: 20px;
  padding: var(--primary-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999999999999999;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 10vmax;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.clock {
  cursor: default;
}

.contact {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  transition: 0.5s;
  position: relative;
  z-index: 99999999;
}

.contact:hover {
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
}

.contact-btn {
  text-decoration: none;
}

/* banner  */

.banner {
  width: 100%;
  height: 100vh;
  padding: var(--primary-padding);
  background-image: url(img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 9.5vw;
}

.banner-c1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
}

.scroll span {
  color: #8e8e8e;
  letter-spacing: 2.5px;
}

.cursorPos,
.cursorPos span {
  color: #c9c8c9;
}

.banner-hero-wrapper {
  width: 100%;
  height: calc(100vh - (9.5vw + 43.2px));
  display: flex;
  align-items: end;
  padding-bottom: 1.8rem;
}

.banner-hero {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 8vw;
}

.banner-hero p {
  color: #c8c8c8;
  font-size: 1vw;
  margin-bottom: 17px;
  letter-spacing: 3.5px;
}

.banner-hero h2 {
  font-size: 10vw;
  letter-spacing: 0.9px;
  line-height: 9vw;
  font-weight: 200;
}

.banner-hero h3 {
  color: #8e8e8e;
  font-size: 2vw;
  letter-spacing: 2px;
  font-weight: 300;
}

.banner-hero .mobile-h3 {
  display: none;
}

/* about  */

.about-wrapper {
  width: 100%;
  height: auto;
  padding: var(--primary-padding);
  margin-top: 70px;
  padding-bottom: 10vw;
}

.about {
  padding-top: 70px;
  border-top: 2px solid #fefefec5;
}

.about-child1 p {
  color: var(--dark-gray-color);
  font-size: 1.2vw;
  font-weight: 500;
  margin-bottom: 20px;
}

.about-child1 h3 {
  font-size: 4.5vw;
  line-height: 4.6vw;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 10vw;
  margin-right: 28vw;
}

.about-child2 {
  display: flex;
  justify-content: space-between;
}

.about-c1 {
  width: 200vw;
}

.about-c1 h2 {
  color: #383739;
  font-size: 3.25vw;
  font-weight: 500;
}

.about-c2 p {
  font-size: 1.8vw;
  line-height: 2vw;
}

.card-wrapper {
  width: 100%;
  height: auto;
  padding: var(--primary-padding);
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-wrapper .card {
  width: 31.4%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc((745 / var(--gfs)) * 100 * 1vw);
  background-color: rgba(14, 14, 14, 255);
  padding: calc((35 / var(--gfs)) * 100 * 1vw)
    calc((38 / var(--gfs)) * 100 * 1vw) calc((11 / var(--gfs)) * 100 * 1vw);
  border-radius: calc((15 / var(--gfs)) * 100 * 1vw);
}

.card .c1-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .c1 p {
  font-size: calc((16 / var(--gfs)) * 100 * 1vw);
  font-weight: 600;
  line-height: 1.5;
  color: var(--dark-gray-color);
}

.card .c1-child2 img {
  width: 4.5vw;
  margin-top: calc((21 / var(--gfs)) * 100 * 1vw);
}

.c2 .c2-child p {
  color: var(--dark-gray-color);
  font-size: calc((24 / var(--gfs)) * 100 * 1vw);
  line-height: 1.38;
}
.c2 .c2-child {
  display: flex;
  align-items: center;
  gap: 0.6vw;
  border-bottom: 2px solid var(--dark-gray-color);
  max-width: calc((460 / var(--gfs)) * 100 * 1vw);
  padding-bottom: calc((14 / var(--gfs)) * 100 * 1vw);
  margin-bottom: calc((34 / var(--gfs)) * 100 * 1vw);
}

.c2 .c2-child i {
  color: var(--dark-gray-color);
  font-size: calc((16 / var(--gfs)) * 100 * 1vw);
}

.c2 .c2-child2 h1 {
  font-size: calc((188 / var(--gfs)) * 100 * 1vw);
  line-height: 1;
  font-weight: 200;
}

/* image section  */

.sec-img {
  width: 100%;
  height: 100vh;
  padding: var(--primary-padding);
  background-image: url(img/image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* marquee */

.marquee-wrapper {
  padding: 100px 0;
}

.marquee-wrapper marquee {
  font-size: 10vw;
}

/* footer */

.footer-wrapper {
  padding: var(--primary-padding);
}

.footer-wrapper footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc((42 / var(--gfs))*100*1vw) 0 calc((25 / var(--gfs))*100*1vw);
  font-size: calc((24 / var(--gfs))*100*1vw);
  line-height: 1.2;
  font-weight: 500;
  border-top: 1px solid #555;
}

.footer-wrapper footer .c3 a {
  text-decoration: none;
}

.footer-wrapper footer .c3 i {
  font-size: 0.8vw;
}

/* cursor tail */

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d0d0d0db;
  filter: blur(1px);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s;
  z-index: 99999999999999;
}
